/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("/assets/images/background.jpg");
    background-repeat: repeat-y;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}