h1 {
    margin-bottom: 30px;
    text-align: center;
    color: orange;
    font-size: 2.5rem;
    text-shadow: 4px 4px black;
}
nav a {
    opacity: 80%;
    margin-left: 2px;
    width: 23.1%;
    padding: 1rem;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 5px;
}
  
nav a:hover {
    color: white;
    background-color: orange;
}