<div *ngIf="selectedMan">
    <h2>{{selectedMan.name}}</h2>
    <div>{{selectedMan.id | idpipe}}</div>
    <div><span>country: </span>{{selectedMan.country | uppercase}}</div>
    <div>
    <form [formGroup] = "mDetailsForm" (ngSubmit) = "save()">
        <p class="label">Manufacturer Name</p>
        <input formControlName = "manufacturerName" [(ngModel)]="selectedMan.name" placeholder="Type here" type="text">
        <p class="label">Password</p>
        <input formControlName = "countryName" [(ngModel)]="selectedMan.country" placeholder="Type here" type="text">
        <br>
        <button type="submit">Save Changes</button>
    </form>
    </div>
</div>

<button (click)="goBack()">go back</button>